body {
  background: linear-gradient(to right, rgb(235, 100, 116), rgb(208, 142, 76));
  font-family: Sans-serif;
  margin: 0;
}

form {
  width: 40%;
  background-color: white;
  border: 1px solid white;
  border-radius: 5rem;
  margin: 100px auto;
  padding: 20px 60px;

}

label {
  display: block;
  margin-bottom: 5px;
}

h1 {
  font-weight: normal;
  font-size: 25px;
}

section {
  margin: 30px 0;
}

input {
  border: 1px white solid;
  border-radius: 5rem;
  background: linear-gradient(to right, rgb(225, 225, 225), white);
  padding: 8px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  width: 150px;
  height: 50px;
  color: white;
  font-size: 25px;
  background: linear-gradient(to right, rgb(86, 160, 246), rgb(57, 233, 186));
  border-radius: 5rem;
  margin: 5px 0 10px 0;

}

section.button {
  text-align: center;
}